.env
vendor/
vendor/*
vendor/composer/
node_modules/
public/storage/
storage/*.key
storage/*.log
storage/*.sqlite
storage/*.sqlite3
storage/app/public
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs